In [88]:
import pandas as pd

In [89]:
data = pd.read_csv('sug.csv')

In [90]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, 74.4","Aerospace Engineering, 54.2","Nanoengineering, 52.4","Vehicle and Traffic Engineering, 51.7","Plant Engineering, 50.0"
1,"Accounting, 62.5","Communication Sciences, 50.0","Medicine and Healthcare, 48.9","Forensic Accounting, 48.8","Finance, 48.3"
2,"Education Research, 70.3","Accounting, 69.0","Educational Research, 66.7","Clinical Research, 61.1","Occupational Health, 52.6"
3,"Addiction Studies, 57.1","Addiction Counseling, 52.6","Vocational Studies, 50.0","Medicine and Healthcare, 48.8","Aviation Management, 48.6"
4,"Actuarial Science, 100.0","Agricultural Sciences, 78.9","Social Sciences, 75.0","Animal Sciences, 75.0","Historical Sciences, 72.2"
...,...,...,...,...,...
3886,"Materials Science & Engineering, 27.8","Physical and Sport Education, 26.8","Climate Studies & Meteorology, 26.5","Artificial Intelligence, 26.2","General Engineering & Technology, 25.9"
3887,"Materials Science & Engineering, 27.4","Medicine and Healthcare, 25.7","Natural Sciences and Engineering, 25.4","Manufacturing Engineering, 25.2","Sensor and Measurement Technology, 25.2"
3888,"Materials Science & Engineering, 33.3","Manufacturing Engineering, 33.3","Building Services Engineering, 31.9","Emergency & Disaster Management, 31.2","Environmental Studies & Earth Sciences, 31.1"
3889,"Zoology, 100.0","Sociology, 75.0","Biology, 71.4","Geology, 71.4","Toxicology, 70.6"
3890,"Humanities and Culture, 39.3","Drama and Theater, 39.2","Genetic Counseling, 38.5","Human Resources, 36.7","Educational Counseling, 35.7"

In [91]:
data['suggested discipline five'] =  data['suggested discipline five'].str.replace('\d+', '')
data['suggested discipline four'] =  data['suggested discipline four'].str.replace('\d+', '')
data['suggested discipline three'] =  data['suggested discipline three'].str.replace('\d+', '')
data['suggested discipline two'] =  data['suggested discipline two'].str.replace('\d+', '')
data['suggested discipline one'] =  data['suggested discipline one'].str.replace('\d+', '')

<ipython-input-91-4465631ff54c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline five'] =  data['suggested discipline five'].str.replace('\d+', '')
<ipython-input-91-4465631ff54c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline four'] =  data['suggested discipline four'].str.replace('\d+', '')
<ipython-input-91-4465631ff54c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline three'] =  data['suggested discipline three'].str.replace('\d+', '')
<ipython-input-91-4465631ff54c>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline two'] =  data['suggested discipline two'].str.replace('\d+', '')
<ipython-input-91-4465631ff54c>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline one'] =  data['suggested discipline one'].str.replace('\d+', '')

In [75]:
 data['suggested discipline one']

0                      Machine Learning, .
1                            Accounting, .
2                    Education Research, .
3                     Addiction Studies, .
4                     Actuarial Science, .
                       ...
3886    Materials Science & Engineering, .
3887    Materials Science & Engineering, .
3888    Materials Science & Engineering, .
3889                            Zoology, .
3890             Humanities and Culture, .
Name: suggested discipline one, Length: 3891, dtype: object

In [92]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, .","Aerospace Engineering, .","Nanoengineering, .","Vehicle and Traffic Engineering, .","Plant Engineering, ."
1,"Accounting, .","Communication Sciences, .","Medicine and Healthcare, .","Forensic Accounting, .","Finance, ."
2,"Education Research, .","Accounting, .","Educational Research, .","Clinical Research, .","Occupational Health, ."
3,"Addiction Studies, .","Addiction Counseling, .","Vocational Studies, .","Medicine and Healthcare, .","Aviation Management, ."
4,"Actuarial Science, .","Agricultural Sciences, .","Social Sciences, .","Animal Sciences, .","Historical Sciences, ."
...,...,...,...,...,...
3886,"Materials Science & Engineering, .","Physical and Sport Education, .","Climate Studies & Meteorology, .","Artificial Intelligence, .","General Engineering & Technology, ."
3887,"Materials Science & Engineering, .","Medicine and Healthcare, .","Natural Sciences and Engineering, .","Manufacturing Engineering, .","Sensor and Measurement Technology, ."
3888,"Materials Science & Engineering, .","Manufacturing Engineering, .","Building Services Engineering, .","Emergency & Disaster Management, .","Environmental Studies & Earth Sciences, ."
3889,"Zoology, .","Sociology, .","Biology, .","Geology, .","Toxicology, ."
3890,"Humanities and Culture, .","Drama and Theater, .","Genetic Counseling, .","Human Resources, .","Educational Counseling, ."

In [50]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, .","Aerospace Engineering, .","Nanoengineering, .","Vehicle and Traffic Engineering, .","Plant Engineering, ."
1,"Accounting, .","Communication Sciences, .","Medicine and Healthcare, .","Forensic Accounting, .","Finance, ."
2,"Education Research, .","Accounting, .","Educational Research, .","Clinical Research, .","Occupational Health, ."
3,"Addiction Studies, .","Addiction Counseling, .","Vocational Studies, .","Medicine and Healthcare, .","Aviation Management, ."
4,"Actuarial Science, .","Agricultural Sciences, .","Social Sciences, .","Animal Sciences, .","Historical Sciences, ."
...,...,...,...,...,...
3886,"Materials Science & Engineering, .","Physical and Sport Education, .","Climate Studies & Meteorology, .","Artificial Intelligence, .","General Engineering & Technology, ."
3887,"Materials Science & Engineering, .","Medicine and Healthcare, .","Natural Sciences and Engineering, .","Manufacturing Engineering, .","Sensor and Measurement Technology, ."
3888,"Materials Science & Engineering, .","Manufacturing Engineering, .","Building Services Engineering, .","Emergency & Disaster Management, .","Environmental Studies & Earth Sciences, ."
3889,"Zoology, .","Sociology, .","Biology, .","Geology, .","Toxicology, ."
3890,"Humanities and Culture, .","Drama and Theater, .","Genetic Counseling, .","Human Resources, .","Educational Counseling, ."

In [85]:
data['sug. one'] = data['sug. one'].map(lambda x: str(x)[:-5])
data['sug. two'] = data['sug. two'].map(lambda x: str(x)[:-5])
data['sug. three'] = data['sug. three'].map(lambda x: str(x)[:-5])
data['sug. four'] = data['sug. four'].map(lambda x: str(x)[:-5])
data['sug. five'] = data['sug. five'].map(lambda x: str(x)[:-5])

In [86]:
data

,sug. one,sug. two,sug. three,sug. four,sug. five
0,Supply Chain Management,Aviation Management,Financial Management,Energy Management,Business & Management
1,Financial Management,Health Management,Forest Management,Business & Management,Facilities Management
2,Electronics,Mechatronics,Orthotics,Economics,Macroeconomics
3,Geographical Information Systems GIS,Arts & Design,Theatre & Dance,Natural Sciences and Engineering,Real Estate & Property Management
4,Organizational Behaviour,Humanities and Culture,Agricultural Development,Education in Health Care,Social and Youth Work
...,...,...,...,...,...
2885,Physical and Sport Education,Special Education,Criminal Justice Administration,Corporate Social Responsibility,Real Estate & Property Management
2886,Real Estate & Property Management,Professional Studies,Environmental Studies & Earth Sciences,Theoretical Physics,Physical & Biological Anthropology
2887,Environmental Studies & Earth Sciences,Geographical Information Systems GIS,Civil & Private Law,Food Safety & Quality,Arable & Fruit Farming
2888,Zoology,Sociology,Biology,Geology,Toxicology
2889,Education in Health Care,Tourism & Leisure,Civil & Private Law,Civil Engineering & Construction,Public Law

In [87]:
data.to_csv('names_data_to_fix.csv')

In [99]:
data = pd.read_csv('data_to_fix.csv')

In [81]:
data['sug. one'] =  data['sug. one'].str.replace('\d+', '')
data['sug. two'] =  data['sug. two'].str.replace('\d+', '')
data['sug. three'] =  data['sug. three'].str.replace('\d+', '')
data['sug. four'] =  data['sug. four'].str.replace('\d+', '')
data['sug. five'] =  data['sug. five'].str.replace('\d+', '')

<ipython-input-81-8b14d9fba83d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['sug. one'] =  data['sug. one'].str.replace('\d+', '')
<ipython-input-81-8b14d9fba83d>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['sug. two'] =  data['sug. two'].str.replace('\d+', '')
<ipython-input-81-8b14d9fba83d>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data['sug. three'] =  data['sug. three'].str.replace('\d+', '')
<ipython-input-81-8b14d9fba83d>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['sug. four'] =  data['sug. four'].str.replace('\d+', '')
<ipython-input-81-8b14d9fba83d>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data['sug. five'] =  data['sug. five'].str.replace('\d+', '')

In [100]:
data

,sug. one,sug. two,sug. three,sug. four,sug. five
0,Supply Chain Management 57.6,Aviation Management 54.5,Financial Management 53.6,Energy Management 52.8,Business & Management 52.6
1,Financial Management 65.4,Health Management 57.1,Forest Management 57.1,Business & Management 56.6,Facilities Management 56.6
2,Electronics 84.6,Mechatronics 66.7,Orthotics 58.3,Economics 58.3,Macroeconomics 55.2
3,Geographical Information Systems GIS 16.5,Arts & Design 12.9,Theatre & Dance 12.5,Natural Sciences and Engineering 12.3,Real Estate & Property Management 12.2
4,Organizational Behaviour 40.9,Humanities and Culture 39.5,Agricultural Development 38.6,Education in Health Care 38.6,Social and Youth Work 37.6
...,...,...,...,...,...
2885,Physical and Sport Education 38.2,Special Education 32.3,Criminal Justice Administration 31.9,Corporate Social Responsibility 30.1,Real Estate & Property Management 29.6
2886,Real Estate & Property Management 33.6,Professional Studies 31.9,Environmental Studies & Earth Sciences 30.4,Theoretical Physics 30.1,Physical & Biological Anthropology 29.6
2887,Environmental Studies & Earth Sciences 15.8,Geographical Information Systems GIS 14.1,Civil & Private Law 12.2,Food Safety & Quality 11.9,Arable & Fruit Farming 11.8
2888,Zoology 100.0,Sociology 75.0,Biology 71.4,Geology 71.4,Toxicology 70.6
2889,Education in Health Care 20.4,Tourism & Leisure 19.0,Civil & Private Law 18.2,Civil Engineering & Construction 17.5,Public Law 17.1

In [104]:
data['perc. two'] = data['sug. two'].str[-5:]
data['perc. three'] = data['sug. three'].str[-5:]
data['perc. four'] = data['sug. four'].str[-5:]
data['perc. five'] = data['sug. five'].str[-5:]

In [110]:
data.to_csv('numbers.to_csv')

In [109]:
data

,sug. one,sug. two,sug. three,sug. four,sug. five,perc. one,perc. two,perc. three,perc. four,perc. five
0,Supply Chain Management 57.6,Aviation Management 54.5,Financial Management 53.6,Energy Management 52.8,Business & Management 52.6,57.6,54.5,53.6,52.8,52.6
1,Financial Management 65.4,Health Management 57.1,Forest Management 57.1,Business & Management 56.6,Facilities Management 56.6,65.4,57.1,57.1,56.6,56.6
2,Electronics 84.6,Mechatronics 66.7,Orthotics 58.3,Economics 58.3,Macroeconomics 55.2,84.6,66.7,58.3,58.3,55.2
3,Geographical Information Systems GIS 16.5,Arts & Design 12.9,Theatre & Dance 12.5,Natural Sciences and Engineering 12.3,Real Estate & Property Management 12.2,16.5,12.9,12.5,12.3,12.2
4,Organizational Behaviour 40.9,Humanities and Culture 39.5,Agricultural Development 38.6,Education in Health Care 38.6,Social and Youth Work 37.6,40.9,39.5,38.6,38.6,37.6
...,...,...,...,...,...,...,...,...,...,...
2885,Physical and Sport Education 38.2,Special Education 32.3,Criminal Justice Administration 31.9,Corporate Social Responsibility 30.1,Real Estate & Property Management 29.6,38.2,32.3,31.9,30.1,29.6
2886,Real Estate & Property Management 33.6,Professional Studies 31.9,Environmental Studies & Earth Sciences 30.4,Theoretical Physics 30.1,Physical & Biological Anthropology 29.6,33.6,31.9,30.4,30.1,29.6
2887,Environmental Studies & Earth Sciences 15.8,Geographical Information Systems GIS 14.1,Civil & Private Law 12.2,Food Safety & Quality 11.9,Arable & Fruit Farming 11.8,15.8,14.1,12.2,11.9,11.8
2888,Zoology 100.0,Sociology 75.0,Biology 71.4,Geology 71.4,Toxicology 70.6,100.0,75.0,71.4,71.4,70.6
2889,Education in Health Care 20.4,Tourism & Leisure 19.0,Civil & Private Law 18.2,Civil Engineering & Construction 17.5,Public Law 17.1,20.4,19.0,18.2,17.5,17.1

In [114]:
data.to_csv('percentage.csv')