In [44]:
import pandas as pd

In [45]:
data = pd.read_csv('sug.csv')

In [46]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, 74.4","Aerospace Engineering, 54.2","Nanoengineering, 52.4","Vehicle and Traffic Engineering, 51.7","Plant Engineering, 50.0"
1,"Accounting, 62.5","Communication Sciences, 50.0","Medicine and Healthcare, 48.9","Forensic Accounting, 48.8","Finance, 48.3"
2,"Education Research, 70.3","Accounting, 69.0","Educational Research, 66.7","Clinical Research, 61.1","Occupational Health, 52.6"
3,"Addiction Studies, 57.1","Addiction Counseling, 52.6","Vocational Studies, 50.0","Medicine and Healthcare, 48.8","Aviation Management, 48.6"
4,"Actuarial Science, 100.0","Agricultural Sciences, 78.9","Social Sciences, 75.0","Animal Sciences, 75.0","Historical Sciences, 72.2"
...,...,...,...,...,...
3886,"Materials Science & Engineering, 27.8","Physical and Sport Education, 26.8","Climate Studies & Meteorology, 26.5","Artificial Intelligence, 26.2","General Engineering & Technology, 25.9"
3887,"Materials Science & Engineering, 27.4","Medicine and Healthcare, 25.7","Natural Sciences and Engineering, 25.4","Manufacturing Engineering, 25.2","Sensor and Measurement Technology, 25.2"
3888,"Materials Science & Engineering, 33.3","Manufacturing Engineering, 33.3","Building Services Engineering, 31.9","Emergency & Disaster Management, 31.2","Environmental Studies & Earth Sciences, 31.1"
3889,"Zoology, 100.0","Sociology, 75.0","Biology, 71.4","Geology, 71.4","Toxicology, 70.6"
3890,"Humanities and Culture, 39.3","Drama and Theater, 39.2","Genetic Counseling, 38.5","Human Resources, 36.7","Educational Counseling, 35.7"

In [47]:
data['suggested discipline five'] =  data['suggested discipline five'].str.replace('\d+', '')
data['suggested discipline four'] =  data['suggested discipline four'].str.replace('\d+', '')
data['suggested discipline three'] =  data['suggested discipline three'].str.replace('\d+', '')
data['suggested discipline two'] =  data['suggested discipline two'].str.replace('\d+', '')
data['suggested discipline one'] =  data['suggested discipline one'].str.replace('\d+', '')

<ipython-input-47-4465631ff54c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline five'] =  data['suggested discipline five'].str.replace('\d+', '')
<ipython-input-47-4465631ff54c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline four'] =  data['suggested discipline four'].str.replace('\d+', '')
<ipython-input-47-4465631ff54c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline three'] =  data['suggested discipline three'].str.replace('\d+', '')
<ipython-input-47-4465631ff54c>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline two'] =  data['suggested discipline two'].str.replace('\d+', '')
<ipython-input-47-4465631ff54c>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data['suggested discipline one'] =  data['suggested discipline one'].str.replace('\d+', '')

In [48]:
 data['suggested discipline one']

0                      Machine Learning, .
1                            Accounting, .
2                    Education Research, .
3                     Addiction Studies, .
4                     Actuarial Science, .
                       ...
3886    Materials Science & Engineering, .
3887    Materials Science & Engineering, .
3888    Materials Science & Engineering, .
3889                            Zoology, .
3890             Humanities and Culture, .
Name: suggested discipline one, Length: 3891, dtype: object

In [49]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, .","Aerospace Engineering, .","Nanoengineering, .","Vehicle and Traffic Engineering, .","Plant Engineering, ."
1,"Accounting, .","Communication Sciences, .","Medicine and Healthcare, .","Forensic Accounting, .","Finance, ."
2,"Education Research, .","Accounting, .","Educational Research, .","Clinical Research, .","Occupational Health, ."
3,"Addiction Studies, .","Addiction Counseling, .","Vocational Studies, .","Medicine and Healthcare, .","Aviation Management, ."
4,"Actuarial Science, .","Agricultural Sciences, .","Social Sciences, .","Animal Sciences, .","Historical Sciences, ."
...,...,...,...,...,...
3886,"Materials Science & Engineering, .","Physical and Sport Education, .","Climate Studies & Meteorology, .","Artificial Intelligence, .","General Engineering & Technology, ."
3887,"Materials Science & Engineering, .","Medicine and Healthcare, .","Natural Sciences and Engineering, .","Manufacturing Engineering, .","Sensor and Measurement Technology, ."
3888,"Materials Science & Engineering, .","Manufacturing Engineering, .","Building Services Engineering, .","Emergency & Disaster Management, .","Environmental Studies & Earth Sciences, ."
3889,"Zoology, .","Sociology, .","Biology, .","Geology, .","Toxicology, ."
3890,"Humanities and Culture, .","Drama and Theater, .","Genetic Counseling, .","Human Resources, .","Educational Counseling, ."

In [50]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,"Machine Learning, .","Aerospace Engineering, .","Nanoengineering, .","Vehicle and Traffic Engineering, .","Plant Engineering, ."
1,"Accounting, .","Communication Sciences, .","Medicine and Healthcare, .","Forensic Accounting, .","Finance, ."
2,"Education Research, .","Accounting, .","Educational Research, .","Clinical Research, .","Occupational Health, ."
3,"Addiction Studies, .","Addiction Counseling, .","Vocational Studies, .","Medicine and Healthcare, .","Aviation Management, ."
4,"Actuarial Science, .","Agricultural Sciences, .","Social Sciences, .","Animal Sciences, .","Historical Sciences, ."
...,...,...,...,...,...
3886,"Materials Science & Engineering, .","Physical and Sport Education, .","Climate Studies & Meteorology, .","Artificial Intelligence, .","General Engineering & Technology, ."
3887,"Materials Science & Engineering, .","Medicine and Healthcare, .","Natural Sciences and Engineering, .","Manufacturing Engineering, .","Sensor and Measurement Technology, ."
3888,"Materials Science & Engineering, .","Manufacturing Engineering, .","Building Services Engineering, .","Emergency & Disaster Management, .","Environmental Studies & Earth Sciences, ."
3889,"Zoology, .","Sociology, .","Biology, .","Geology, .","Toxicology, ."
3890,"Humanities and Culture, .","Drama and Theater, .","Genetic Counseling, .","Human Resources, .","Educational Counseling, ."

In [51]:
data['suggested discipline one'] = data['suggested discipline one'].map(lambda x: str(x)[:-3])
data['suggested discipline two'] = data['suggested discipline two'].map(lambda x: str(x)[:-3])
data['suggested discipline three'] = data['suggested discipline three'].map(lambda x: str(x)[:-3])
data['suggested discipline four'] = data['suggested discipline four'].map(lambda x: str(x)[:-3])
data['suggested discipline five'] = data['suggested discipline five'].map(lambda x: str(x)[:-3])

In [52]:
data

,suggested discipline one,suggested discipline two,suggested discipline three,suggested discipline four,suggested discipline five
0,Machine Learning,Aerospace Engineering,Nanoengineering,Vehicle and Traffic Engineering,Plant Engineering
1,Accounting,Communication Sciences,Medicine and Healthcare,Forensic Accounting,Finance
2,Education Research,Accounting,Educational Research,Clinical Research,Occupational Health
3,Addiction Studies,Addiction Counseling,Vocational Studies,Medicine and Healthcare,Aviation Management
4,Actuarial Science,Agricultural Sciences,Social Sciences,Animal Sciences,Historical Sciences
...,...,...,...,...,...
3886,Materials Science & Engineering,Physical and Sport Education,Climate Studies & Meteorology,Artificial Intelligence,General Engineering & Technology
3887,Materials Science & Engineering,Medicine and Healthcare,Natural Sciences and Engineering,Manufacturing Engineering,Sensor and Measurement Technology
3888,Materials Science & Engineering,Manufacturing Engineering,Building Services Engineering,Emergency & Disaster Management,Environmental Studies & Earth Sciences
3889,Zoology,Sociology,Biology,Geology,Toxicology
3890,Humanities and Culture,Drama and Theater,Genetic Counseling,Human Resources,Educational Counseling

In [53]:
data.to_csv('spilted data.csv')

In [55]:
git remote add origin https://github.com/oltigashi10/data_manipulation.git

SyntaxError: invalid syntax (<ipython-input-55-12ec9beef673>, line 1)